/* =============================== GOOGLE FONT ======================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

/* =============================== VARIABLE CSS ======================== */
:root {
    /* == COLOR == */
    --primary-bg: #432275;
    --layout-bg-top: #4f2194;
    --layout-bg: #130B1D;
    --second-bg: #2d1f3f;
    --second-bg-hover: #1f152c;
    --text-color: #dadada;
    --text-color-hover: #fdfdff;
    --second-text-color: rgb(163, 152, 204);
    --text-black: #32323d;
    --sidebar-bg: hsla(0,0%,100%,0.05);
    --purple-primary: #7200a1;
    --scroll-bar-color: #23213a;
    --scroll-thumb-color: #65606D;
    --blue: #4a90e2;
    --green: #1ddfb5;
    --red: #e35050;
    --yellow: #f8e71c;

    /* == FONT AND TYPOGRAPHY == */
    --body-font: 'Inter', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* == MARGIN BOTTOM == */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* == SIZE == */
    --height-navbar: 4rem;
    --height-footer: 5.625rem;

    /* == Z-INDEX == */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}

/* =============================== BASE ======================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--body-font);
    background: var(--layout-bg);
    background: -webkit-linear-gradient(to top, var(--layout-bg-top), var(--layout-bg));
    background: linear-gradient(to bottom, var(--layout-bg-top), var(--layout-bg));
    overflow-y: hidden;
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.section {
    padding: 2rem 0;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.btn {
    padding: var(--mb-0-5) var(--mb-1);
    border-radius: 1rem;
}

.btn:hover.bg-yellow {
    background-color: #dbce38;
}

.btn:hover.bg-second {
    background-color: var(--second-bg-hover);
}

.btn:hover.bg-purple {
    background-color: #5e0b81;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-red {
    background-color: var(--red);
}

.bg-green {
    background-color: var(--green);
}

.bg-yellow {
    background-color: var(--yellow);
    color: var(--text-black);
}

.bg-second {
    background-color: var(--second-bg);
    color: var(--text-color);
}

.bg-purple {
    background-color: var(--purple-primary);
    color: var(--text-color);
}

.badge {
    font-size: .5rem;
    font-weight: 600;
    padding: .25rem .5rem;
    border-radius: 4px;
    background: #cc2b5e;
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
    background: linear-gradient(to right, #753a88, #cc2b5e);
    color: var(--text-color);
}
/* =============================== NAVBAR ======================== */
@keyframes spin{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes animate1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* =============================== NAVBAR ======================== */
.header {
    top: 0;
    z-index: var(--z-fixed);
    max-height: var(--height-navbar);
}

.bg2-header {
    background-color: rgba(23, 15, 35, 0.5);
}

.nav {
    height: 4rem;
    margin-left: 15rem;
    justify-content: space-between;
}

.nav__arrow {
    margin-right: var(--mb-1-5);
    display: flex;
    align-items: center;
}

.nav__arrow-btn {
    margin-left: var(--mb-1-5);
}

.icon__arrow,
.icon__search {
    color: var(--text-color);
    font-size: var(--h2-font-size);
    font-weight: 400;
}

.nav__form-container {
    position: relative;
}

.nav__form-input {
    border: none;
    border-radius: 1.5rem;
    height: 2.5rem;
    color: var(--text-color);
    padding-left: var(--mb-2-5);
    width: 35rem;
}

.nav__form-input:focus {
    outline: none;
}

.nav__form-input::placeholder {
    color: var(--text-color);
}

.submit__button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.nav__right {
    margin-left: 2rem;
}

.nav__right--item {
    margin-left: 1rem;
}

.nav__btn {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .35s ease;
}

.nav__btn:hover,
.btn__active {
    background-color: var(--second-bg-hover);
}

.nav__icon {
    color:var(--text-color);
    font-size: 1.25rem;
    font-weight: 350;
}

.nav__user-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.nav__dropdown {
    position: relative;
    display: inline-block;
}

.nav__dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    width: 16rem;
    margin-top: 0.5rem;
    background-color: var(--primary-bg);
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: var(--z-tooltip);
    border-radius: 0.5rem;
}

.nav__dropdown-container {
    padding: 0.5rem 1rem .75rem 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: .25rem;
}

.show-nav__dropdown {
    display: block;
}

.main-dropdown {
    border-bottom: 1px solid #a692ad;
    width: 100%;
    margin-bottom: var(--mb-0-5);
}

.footer-dropdown {
    width: 100%;
}

.nav__link {
    position: relative;
    color: var(--text-color);
    font-size: var(--normal-font-size);
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: var(--mb-0-25);
    padding-left: var(--mb-0-25);
}

.main-dropdown .nav__link span {
    margin-left: var(--mb-1-5);
}

.nav__link:hover {
    color: var(--text-color-hover);
    background-color: #563983;
    border-radius: 0.5rem;
}

.nav__icon-start {
    position: absolute;
    left: var(--mb-0-25);
}

.nav__icon-end {
    position: absolute;
    right: 0;
}

/* =============================== SIDEBAR ======================== */
.sidebar {
    position: fixed;
    top: 0;
    height: calc(100vh - 90px);
    width: 15rem;
    z-index: var(--z-fixed);
    background-color: #231B2E;
    -webkit-box-shadow: 5px 4px 20px -10px rgba(0,0,0,0.6); 
    box-shadow: 5px 4px 20px -10px rgba(0,0,0,0.6);
}

.sidebar__wrapper {
    flex-direction: column;
    align-items: start;
    gap: .75rem;
}

.logo {
    width: 100%;
    margin-top: 1rem;
    margin-left: 2rem;
    cursor: pointer;
}

.logo-img {
    width: 120px;
    height: 40px;
    display: inline-block;
}

.sidebar__content {
    width: 100%;
}

.sidebar__main {
    flex-direction: column;
    align-items: start;
    gap: var(--mb-0-5);
    margin-bottom: var(--mb-1);
}

.list__item {
    width: 100%;
}

.sidebar__link,
.sidebar__extra-link {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    color:var(--text-color);
    font-size: var(--normal-font-size);
    font-weight: 400;
}

.sidebar__link > i,
.sidebar__extra-link > i {
    font-size: 1.25rem;
    font-weight: 300;
    margin-right: var(--mb-0-5);
}

.sidebar__link:hover,
.sidebar__link .active {
    color: var(--text-color-hover);
    background: var(--second-bg-hover);
    border-left: 3px solid var(--purple-primary);
}

.sidebar__extra-link:hover {
    color: var(--text-color-hover);
}

.sidebar__line {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    margin-bottom: var(--mb-1);
    border-top: 1px solid #7b6b81;
}

.sidebar__extra {
    overflow-y: auto;
    height: 19rem;
    width: 16rem;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.sidebar__extra::-webkit-scrollbar {
    width: .25rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}

.sidebar__extra::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

.sidebar__extra::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

.sidebar__extra-list{
    flex-direction: column;
    align-items: start;
    gap: var(--mb-0-75);
}

.sidebar__ads {
    margin: var(--mb-0-5) var(--mb-1) var(--mb-1);
    border-radius: 0.5rem;
    background: #4e54c8;
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8); 
    background: linear-gradient(to right, #8f94fb, #4e54c8);
}
.sidebar__ads-container {
    padding: var(--mb-0-75);
}

.ads__title {
    font-size: 0.813rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: var(--mb-1);
}

.ads__btn {
    margin-left: 2rem;
    display: inline-block;
    border-color: #ffdb00;
    color: var(--text-black);
    font-size: 1rem;
    font-weight: 600;
}

.sidebar__library {
    flex-direction: column;
    align-items: start;
    gap: .55rem;
}

.library__title {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1.5rem;
}

.library__icon {
    border-radius: 0.5rem;
    padding: var(--mb-0-25);
}

.sidebar__option {
    position: absolute;
    bottom: 0;
    height: 3.75rem;
    width: 100%;
    border-top: 1px solid #7b6b81;
}

.newList-btn {
    margin-left: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.newList-btn:hover {
    color: var(--text-color-hover);
}

.newList__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-modal);
    background-color: rgba(0, 0, 0, .7);
    justify-content: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
}

.active__modal {
    opacity: 1;
    visibility: visible;
}

.newList__modal-content {
    position: relative;
    background-color: var(--purple-primary);
    flex-direction: column;
    border-radius: 0.5rem;
    padding: var(--mb-1);
}

.newList__form-title {
    font-size: 1.25rem;
}

.newList__form-close {
    position: absolute;
    top: 1.25rem;
    right: 1.5rem;
    cursor: pointer;
    transition: .3s;
}

.newList__form-close:hover {
    transform: scale(1.1);
}

.newList__form {
    margin-top: var(--mb-1);
    flex-direction: column;
    align-items: start;
}

.newList__form-input {
    background-color: #563983;
    border: none;
    outline: none;
    padding: var(--mb-0-75) var(--mb-1);
    border-radius: 2rem;
    color: var(--text-color);
    width: 100%;
}

.newList__form-input::placeholder {
    color: var(--text-color);
}

.newList__form-content {
    margin-left: var(--mb-0-5);
    margin-top: var(--mb-1);
    justify-content: space-between;
}

.newList__form-desc {
    flex-direction: column;
    align-items: start;
    margin-right: var(--mb-0-5);
    width: 240px;
    max-width: 240px;
}

.newList__form-label {
    font-size: 1rem;
}

.newList__from-subtitle {
    font-size: var(--small-font-size);
    color: var(--second-text-color);
}

.newList__form-switch {
    position: relative;
    display: inline-block;
    width: 1.75rem;
    height: 1rem;
}

.newList__form-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    transition: .4s;
    border-radius: 34px;
}

.checkbox__slider::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 0.75rem;
    width: .75rem;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .checkbox__slider {
    background-color: var(--primary-bg);
}

input:checked + .checkbox__slider::before {
    transform: translateX(.75rem);
}

.newList__form-btn {
    margin-top: var(--mb-2);
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    align-self: center;
}

/* =============================== MAIN ======================== */
.main {
    margin-left: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - (var(--height-footer) + var(--height-navbar)));
}
.main::-webkit-scrollbar {
    width: .25rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
    z-index: var(--z-fixed);
}

.main::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

.main::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/* =============================== USER ======================== */
.user {
    padding: 2rem 2rem;
}

.user__container {
    justify-content: space-between;
    align-items: start;
}

.user__content {
    flex-direction: column;
    justify-content: space-between;
}

.user__title {
    font-size: var(--big-font-size);
    font-weight: 700;
    margin-top: var(--mb-1);
}

.user__img {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
}

/* =============================== PLAY LIST ======================== */
.playlist {
    padding: 2rem 2rem;
}

.playlist__menu {
    justify-content: center;
}

.playlist__menu-items {
    background-color: var(--second-bg);
    padding: 0.25rem 0.5rem;
    border-radius: 1.5rem;
    justify-content: space-between;
}

.playlist__menu-item {
    padding: 0.125rem var(--mb-0-75);
    cursor: pointer;
}

.playlist__menu-link {
    color: var(--text-color);
    font-size: var(--small-font-size);
    font-weight: 400;
}

.playlist__menu-link:hover {
    color: var(--text-color-hover);
}

.playlist__menu-item.active {
    background-color: var(--second-bg-hover);
    padding: 0.25rem 1rem;
    border-radius: 1.5rem;
}

.playlist__content {
    margin-top: var(--mb-1-5);
    grid-template-columns: 1fr 8fr;
}

.playlist__section {
    display: none;
}

.playlist__active {
    display: block;
}

.playlist__header {
    justify-content: space-between;
    margin-bottom: var(--mb-1);
}

.playlist__header-link {
    color: var(--text-color);
}

.playlist__header-link:hover {
    color: var(--text-color-hover);
}

.playlist__title > i {
    margin-left: var(--mb-0-5);
}

.playlist__header-btns {
    gap: 1rem;
}

/* TONG QUAN */
.playlist__overview {
    grid-template-columns: 1fr 4fr;
}

.playlist__thumbs {
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
}

.playlist__thumb {
    width: 230px;
    height: 230px;
    border-radius: 0.25rem;
}

.swiper {
    width: 230px;
    height: 100%;
}

.playlist__songs {
    flex-direction: column;
    align-items: start;
    padding-left: var(--mb-0-5);
    padding-right: var(--mb-0-5);
}

.list__scrollbar {
    height: 230px;
    overflow-y: auto;
}

.list__scrollbar::-webkit-scrollbar {
    width: .25rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}

.list__scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

.list__scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

.playlist__song {
    padding: .25rem;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    width: 100%;
    margin: .125rem 0;
    cursor: pointer;
}

.playlist__song:hover,
.playlist__song.active {
    background-color: #504c57;
    border-radius: 0.5rem;
}

.playlist__item-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: var(--mb-0-5);
    object-fit: cover;
}

.playlist__desc {
    flex-direction: column;
    align-items: start;
}

.playlist__desc-title {
    color: var(--text-color);
    font-size: var(--h3-font-size);
    font-weight: 400;
}

.playlist__desc-title:hover { 
    color: var(--text-color-hover);
}

.playlist__desc-subtitle {
    color: var(--second-text-color);
    font-size: var(--small-font-size);
    font-weight: 300;
}

.playlist__time {
    color: var(--second-text-color);
    text-align: center;
}

.playlist__option {
    padding-left: var(--mb-2);
    justify-content: center;
}

.playlist__option-btn {
    font-size: 1rem;
    padding: .125rem;
    border-radius: 50%;
    justify-self: center;
    color: var(--text-color);
    transition: .3s ease-in;
}

.playlist__option-btn:hover {
    transform: scale(1.1);
}

.playlist__icon-heart {
    color: var(--red);
}

.fa-user-friends {
    font-size: .5rem;
}

/* BAI HAT */
.playlist__creation {
    height: 16rem;
    width: 14rem;
    border-radius: 0.5rem;
    margin-right: var(--mb-3);
    background: #C33764;
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);
    background: linear-gradient(to right, #1D2671, #C33764);
    color: var(--text-color);
    transition: .3s ease;
}

.playlist__creation:hover {
    transform: scale(1.05);
}

.playlist__creation > i {
    display: block;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: var(--mb-0-5);
}

.playlist__creation > span {
    display: block;
    font-size: 1rem;
    font-weight: 300;
}

.playlist__lists {
    padding: var(--mb-1);
}

.playlist__list {
    flex-direction: column;
    gap: .5rem;
    margin-right: var(--mb-1-5);
    cursor: pointer;
    transition: .35s ease-in-out;
}

.playlist__list > img {
    width: 12rem;
    height: 12rem;
    border-radius: .75rem;
}

.list__title {
    font-size: var(--h3-font-size);
    font-weight: 500;
}

.playlist__list:hover {
    transform: scale(1.05);
}

/* NGHE SI */

.playlist__singers {
    grid-template-columns: repeat(5, 15rem);
    gap: 1rem;
}

.playlist__singer {
    flex-direction: column;
    padding: var(--mb-0-5);
}

.singer-img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    margin-bottom: var(--mb-0-75);
}

.singer__title {
    font-weight: 500;
    font-size: 1.25rem;
}

.singer__subtitle {
    color: var(--second-text-color);
    font-size: var(--small-font-size);
    font-weight: 300;
    margin-bottom: var(--mb-0-5);
}

.singer__icon-check {
    font-weight: 300;
    font-size: var(--small-font-size);
}

/* ALBUM */
.playlist__album {
    margin-top: 2rem;
}

.album-no-content {
    background-color: #2F2739;
    flex-direction: column;
    padding: var(--mb-3);
    color: var(--second-text-color);
}

.no__content-icon {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: var(--mb-1-5);
}

.no__content-title {
    font-size: 1rem;
    font-weight: 400;
}

/* MV */
.playlist__mv {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.playlist__video {
    flex-direction: column;
    align-items: start;
}

.video__thumbs {
    position: relative;
}

.video__thumb {
    height: 13rem;
    width: 23rem;
    border-radius: 0.5rem;
}

.video__play-btn {
    color: var(--text-color);
}

.video__play-icon {
    position: absolute;
    top: 5.5rem;
    left: 10rem;
    font-size: 3rem;
    font-weight: 100;
}

.video__time {
    position: absolute;
    bottom: .55rem;
    right: .5rem;
    background-color: rgba(15, 7, 0, 0.7);
    padding: var(--mb-0-25);
    font-size: var(--small-font-size);
    border-radius: 0.5rem;
}

.video__desc {
    margin-top: var(--mb-0-25);
}

.singer__thumb {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.video__info {
    margin-left: var(--mb-0-5);
    flex-direction: column;
    align-items: start;
}

.video__title {
    font-size: 1rem;
    font-weight: 500;
}

.video__subtitle {
    font-size: var(--small-font-size);
    color: var(--second-text-color);
    font-weight: 300;
}

/* =============================== PLAY CONTROL ======================== */
.playControl {
    position: fixed;
    bottom: 0;
    background-color: var(--layout-bg);
    height: var(--height-footer);
    width: 100%;
    z-index: var(--z-fixed);
    grid-template-columns: 4fr 1fr 8fr 4fr;
    align-items: center;
    justify-self: center;
}

.playControl__description {
    justify-content: start;
    padding-left: 2rem;
}

.playControl__image {
    background-size: cover;
    width: 4rem;
    height: 4rem;
    background-size: 4rem 4rem;
    border-radius: 50%;
}

.spin-around {
    animation: spin 10000ms linear infinite;
}

.music__icons {
    display: none;
    position: relative;
}

.music__icon {
    position: absolute;
    font-size: 1.125rem;
    font-weight: 100;
}

.music__icon:nth-child(1) {
    top: -1.5rem;
    left: 1.5rem;
    animation: animate1 7s infinite;
}

.music__icon:nth-child(2) {
    top: .5rem;
    left: -1rem;
    animation: animate1 3s infinite;
}

.music__icon:nth-child(3) {
    left: -0.75rem;
    top: 3rem;
    animation: animate1 2s infinite;
}

.music__icon:nth-child(4) {
    top: 4.125rem;
    left: 1.25rem;
    animation: animate1 7s infinite;
}

.music__icon:nth-child(5) {
    top: 3rem;
    left: 3.75rem;
    animation: animate1 2s infinite;
}

.music__icon:nth-child(6) {
    top: .5em;
    left: 4.25rem;
    animation: animate1 3s infinite;
}

.music__icons.active {
    display: block;
}

.playControl__description-content {
    margin-left: var(--mb-1-5);
    flex-direction: column;
    align-items: start;
    overflow: hidden;
}

.playControl__description-title {
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
}

.playControl__description-subtitle {
    font-size: var(--small-font-size);
    color: var(--second-text-color);
}

.playControl__btns {
    padding-left: var(--mb-1-5);
    justify-self: center;
}

.playControl__main {
    justify-self: center;
    flex-direction: column;
    column-gap: 2rem;
}

.playControl__control {
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin-bottom: var(--mb-0-5);
}

.playControl-btn {
    color: var(--text-color);
    padding: var(--mb-0-25);
}

.playControl-btn:hover {
    background-color: var(--second-bg);
    border-radius: 50%;
}

.playControl-btn.active {
    color: var(--red);
}

.playControl-btn.btn__main:hover {
    color: var(--purple-primary);
    background-color: transparent;
}

.control__icon {
    font-weight: 400;
    font-size: 1.25rem;
}

.control__icon-main {
    font-weight: 500;
    font-size: 2.25rem;
}

.playControl__audio {
    justify-content: space-between;
}

.playControl__processBar {
    margin: 0 0.5rem;
    width: 30rem;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.125rem;
    border-radius: 5px;
    background-color: var(--primary-bg);
    outline: none;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: max-width .2s linear;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background: var(--purple-primary);
    cursor: pointer;
}

.playControl__processBar > .slider::-webkit-slider-thumb {
    width: .925rem;
    height: .925rem;
}

.slider::-moz-range-thumb {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.playControl__setting {
    justify-self: end;
    gap: .75rem;
    margin-right: var(--mb-0-75);
}

.playControl__setting-btn {
    color: var(--text-color);
    padding: 0.25rem;
}

.playControl__setting-btn:hover{
    background-color: var(--second-bg);
    border-radius: 50%;
}

.controlSetting__icon {
    font-size: 1.25rem;
    font-weight: 300;
}

.playControl__setting-volume {
    margin-left: -.25rem;
    height: 0.25rem;
    width: 5rem;
}
