.app {
    background-color: var(--layout-bg);
    background-size: 1920px auto;
    background-repeat: repeat;
}
/* =============================== NAVBAR ======================== */
.header {
    position: fixed;
    top: 0;
    left: var(--width-sidebar);
    right: 0;
    z-index: var(--z-fixed);
    height: var(--height-navbar);
    padding: 0 var(--padding-section);
    display: flex;
    align-items: center;
}

.header.is-scroll {
    background-color: var(--layout-bg);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
}

.nav .nav__left .nav-btn {
    display: flex;
    align-items: center;
    color: inherit;
}

.nav .nav__left .nav-btn .icon__arrow {
    font-size: 22px;
    margin-right: 20px;
}

.nav-form {
    width: 100%;
    max-width: 460px;
}

.nav-form .nav-form__container {
    position: relative;
    border-radius: 20px;
    height: 40px;
    background-color: var(--alpha-bg);
}

.nav-form .nav-form__container .nav__form-input {
    border: none;
    border-radius: 1.5rem;
    height: 2.5rem;
    font-size: 14px;
    color: var(--search-text);
    padding-left: var(--mb-2-5);
    width: 35rem;
    background: transparent;
}

.nav-form .nav-form__container .nav__form-input:focus {
    outline: none;
}

.nav-form .nav-form__container .nav__form-input::placeholder {
    color: var(--text-placeholder);
}

.nav-form .nav-form__container .submit__button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.nav-form .nav-form__container .submit__button .icon__search {
    font-size: 20px;
    font-weight: 300;
    color: var(--text-primary);
}

.nav__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__right .item {
    margin-right: 10px;
}

.nav__right .item .btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--alpha-bg);
    color: inherit;
}

.nav__icon {
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 350;
}

.nav__user-img {
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.nav__right .item .dropdown {
    position: relative;
    display: inline-block;
}

.nav__right .item .dropdown .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    width: 240px;
    margin-top: 0.5rem;
    background: var(--primary-bg);
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: var(--z-tooltip);
    border-radius: 0.5rem;
}

.nav__right .item .dropdown .dropdown-content.active {
    display: block;
}

.nav__right .item .dropdown .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav__right .item .dropdown .dropdown-1 {
    padding: 10px 0;
    border-bottom: 1px solid #a692ad;
    width: 100%;
    margin-bottom: var(--mb-0-5);
}

.nav__right .item .dropdown .dropdown-2 {
    width: 100%;
}

.nav__right .item .dropdown .nav__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 12px 20px 12px 17px;
}

.nav__right .item .dropdown .nav__link:hover {
    background-color: var(--alpha-bg);
}

.nav__right .item .dropdown .dropdown-1 .nav__link {
    color: var(--navigation-text);
}

.nav__right .item .dropdown .dropdown-2 .nav__link {
    color: var(--text-secondary);
}

.nav__right .item .dropdown .dropdown-2 .nav__link:hover {
    color: var(--text-item-hover);
}

.nav__right .item .dropdown .dropdown-icon {
    margin-right: 10px;
    font-size: 18px;
}

/* =============================== SIDEBAR ======================== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - 90px);
    width: var(--width-sidebar);
    z-index: var(--z-fixed);
    background-color: var(--sidebar-bg);
}

.sidebar > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: calc(100vh - 90px);
}

.sidebar .logo {
    padding: 0 25px 0 28px;
    width: 240px;
    min-height: 70px;
    display: flex;
    align-items: center;
}

.sidebar .logo .logo-img {
    width: 120px;
    height: 40px;
    display: inline-block;
}

.sidebar .logo .logo-img.md {
    display: none;
}

.sidebar .content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar .content .list-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 15px;
}

.sidebar .content .list__item {
    width: 100%;
    font-weight: 700;
    color: var(--navigation-text);
    border-left: 3px solid transparent;
}

.sidebar .content .list__item:hover,
.sidebar .content .list__item.active {
    background: var(--alpha-bg);
    color: var(--text-item-hover);
    border-left: 3px solid var(--purple-primary);
}

.sidebar .content .list__item .sidebar__link {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7px 25px;
    font-size: 13px;
    color: inherit;
}

.sidebar .content .list__item .sidebar__link:hover {
    color: var(--text-item-hover);
}

.sidebar .content .list__item .sidebar__link > i {
    width: 24px;
    height: 24px;
    font-size: 22px;
    margin-right: 10px;
    border-radius: 4px;
}

.sidebar__line {
    height: 1px;
    border-top: 1px solid var(--border-primary);
    margin: 0 25px;
    padding-bottom: 10px;
}

.sidebar .content .list-2 {
    overflow-y: scroll;
    max-height: 372px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.sidebar .content .list-2::-webkit-scrollbar {
    width: 4px;
}

.sidebar .content .list-2:-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.sidebar .content .list-2:hover::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--scroll-thumb-bg);
}

.sidebar .content .list-2 > ul {
    width: 100%;
}

.sidebar .content .list-2 .ads {
    padding: 15px 8px;
    border-radius: 8px;
    margin: 10px 20px;
    text-align: center;
    background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}

.sidebar .content .list-2 .ads > p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--white);
    line-height: 1.6;
}

.sidebar .content .list-2 .ads > .btn {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.6;
    text-transform: uppercase;
    padding: 6px 35px;
    color: var(--black);
    background-color: #ffdb00;
    border-color: #ffdb00;
}

.sidebar .content .list-2 .library {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 15px;
    width: 100%;
}

.sidebar .content .list-2 .library .library-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px 8px;
    color: var(--text-primary);
    width: 100%;
    height: 26px;
}

.sidebar .content .list-2 .library .library-header span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar .content .list-2 .library .library-header button {
    display: none;
    color: inherit;
    font-size: 14px;
    padding: 5px;
    border-radius: 50%;
    line-height: 66%;
}

.sidebar .content .list-2 .library:hover .library-header button {
    display: block;
}

.sidebar .content .list-2 .library .library-header button:hover {
    background: var(--alpha-bg);
}

.sidebar .content .option {
    height: 54px;
    width: 100%;
    border-top: 1px solid #7b6b81;
}

.sidebar .content .option .btn {
    display: flex;
    align-items: center;
    width: 240px;
    height: 54px;
    color: var(--text-primary);
    font-weight: 700;
    padding: 0 28px;
}

.sidebar .content .option .btn > i {
    font-size: 28px;
    color: var(--text-primary);
    margin-right: 4px;
}

/* =============================== MAIN ======================== */
.main {
    padding: var(--height-navbar) 0 0 var(--width-sidebar);
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - var(--height-player-control) + 1px);
}

.main::-webkit-scrollbar {
    width: 6px;
}

.main::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--scroll-thumb-bg);
}

.main .main-container {
    padding: 0 var(--padding-section);
}

/* =============================== USER ======================== */
.main .user {
    position: relative;
    margin: -70px calc(var(--padding-section) * -1) 0;
    height: 290px;
    overflow: hidden;
}

.main .user.blur > .bg-blur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50%;
    background-size: cover;
    filter: blur(50px);
    z-index: 0;
}

.main .user.blur > .bg-alpha {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50%;
    opacity: 0.6;
    background-color: var(--layout-bg);
    z-index: 0;
}

.main .user.blur .profile {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), var(--layout-bg));
}

.main .user .profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
    height: 100%;
}

.main .user > .profile > img {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    object-fit: cover;
}

.main .user > .profile > h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--text-primary);
    margin: 10px auto 5px;
}

.main .user > .profile > .actions {
    position: absolute;
    top: 85px;
    right: var(--padding-section);
}

.main .user > .profile > .actions > .btn {
    font-size: 12px;
    padding: 6px 19px;
    background-color: var(--alpha-bg);
    color: var(--text-primary);
}

.main .user > .profile > .actions > .btn.btn-vip {
    background-color: var(--yellow);
    color: var(--black);
}

.main .user > .profile > .actions > .btn.btn-action {
    margin-left: 7px;
    padding: 8px;
}

/* =============================== PLAY LIST ======================== */
.main .overview .overview-songs {
    display: flex;
    margin-bottom: 25px;
}

.main .overview .overview-songs .songs-animation {
    position: relative;
    padding-top: 10px;
    width: 270px;
    height: 230px;
    display: flex;
    align-items: center;
}

.main .overview .overview-songs .songs-animation .song-animation {
    position: absolute;
    border-radius: 4px;
    overflow: hidden;
    width: 230px;
    height: 230px;
    transition: all 0.9s linear;
}

.main .overview .overview-songs .songs-animation .song-animation.first {
    z-index: 3;
    left: 40px;
    opacity: 1;
}

.main .overview .overview-songs .songs-animation .song-animation.second {
    z-index: 2;
    left: 20px;
    width: 196px;
    height: 196px;
    opacity: 0.7;
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.5) 1%, rgba(0, 0, 0, 0.6) 14%);
}

.main .overview .overview-songs .songs-animation .song-animation.third {
    z-index: 1;
    left: 0;
    width: 162px;
    height: 162px;
    opacity: 0.3;
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0.5) 1%, rgba(0, 0, 0, 0.6) 14%);
}

.main .overview .overview-songs .songs-animation .song-animation > img {
    width: 100%;
    height: 100%;
}

.main .overview .overview-songs .songs-list {
    width: calc(100% - 270px);
}

.main .overview .main-songs .songs-list {
    width: 100%;
    height: 100%;
}

/* BAI HAT */
.main .playlists {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main .playlists .playlist-create {
    width: 20%;
    padding: 14px;
    margin-bottom: 30px;
}

.main .playlists .playlist-create .btn.btn-create {
    width: 100%;
    height: 100%;
    min-height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background: linear-gradient(33deg, rgb(90, 30, 174) -7%, rgb(206, 38, 122) 117%);
    border-radius: 4px;
}

.main .playlists .playlist-create .btn.btn-create > i {
    font-size: 47px;
    margin-bottom: 15px;
}

.main .playlists .playlist {
    width: 20%;
    padding: 14px;
    margin-bottom: 30px;
}

.main .playlists .playlist .playlist-thumb {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.main .playlists .playlist .playlist-thumb > img {
    transition: 0.5s ease-out;
}

.main .playlists .playlist .playlist-thumb:hover > img {
    transform: scale(1.1);
}

.main .thumb-actions {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

.main .playlists .playlist .playlist-thumb:hover .thumb-actions {
    display: flex;
}

.main .thumb-actions > .btn {
    color: var(--white);
    padding: 5px;
    margin: 0 8px;
}

.main .thumb-actions .btn.btn-play > i {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.main .thumb-actions > .btn:hover {
    background-color: var(--alpha-bg);
    filter: none;
}

.main .thumb-actions > .btn.btn-play:hover {
    filter: brightness(0.9);
    background-color: transparent;
}

.main .thumb-actions > .btn > i {
    font-size: 20px;
    color: inherit;
}

.main .playlists .playlist .playlist-thumb:hover .card-fade {
    visibility: visible;
}

/* NGHE SI */
.main .singer-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main .singer-list .singer {
    margin-bottom: 30px;
    padding: 0 14px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .singer-list .singer .singer-thumb {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
}

.main .singer-list .singer .singer-thumb > img {
    transition: 0.5s ease;
}
.main .singer-list .singer .singer-thumb:hover > img {
    transform: scale(1.1);
}

.main .singer-list .singer .singer-thumb:hover .thumb-actions {
    display: flex;
}

.main .singer-list .singer .singer-title {
    display: block;
    margin: 15px 0 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--text-primary);
    transition: 0.3s ease;
}

.main .singer-list .singer .singer-title:hover {
    color: var(--link-text-hover);
    text-decoration: underline;
}

.main .singer-list .singer .singer-subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--text-secondary);
}

/* ALBUM */
.main .albums {
    margin-top: 30px;
    min-height: 220px;
}

.main .no-content {
    padding: 30px 0;
    background-color: var(--alpha-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary);
}

.main .no-content > i {
    font-size: 80px;
    margin-bottom: 20px;
}
.main .no-content > .title {
    font-size: 16px;
}

/* MV */
.main .mv-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main .mv-list .mv {
    width: 33.3333%;
    margin-bottom: 30px;
}

.main .mv-list .mv .mv-thumb {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
}

.main .mv-list .mv .mv-thumb > img {
    transition: 0.5s ease;
}
.main .mv-list .mv .mv-thumb:hover > img {
    transform: scale(1.1);
}

.main .mv-list .mv .mv-thumb:hover .card-fade {
    visibility: visible;
}

.main .mv-list .mv .mv-thumb:hover .thumb-actions {
    display: flex;
}

.main .mv-list .mv .mv-thumb .time {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
    color: var(--white);
    padding: 3px 5px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7);
}
.main .mv-list .mv .mv-desc {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.main .mv-list .mv .mv-desc .singer-image {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.main .mv-list .mv .mv-desc .mv-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--text-primary);
}
.main .mv-list .mv .mv-desc {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--text-secondary);
}

/* =============================== PLAYER CONTROL ======================== */
.playerControl {
    position: fixed;
    bottom: 0;
    height: var(--height-player-control);
    width: 100%;
    z-index: var(--z-fixed);
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0 20px;
    border-top: 1px solid var(--border-player);
    background-color: var(--player-bg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.playerControl .left {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 30%;
}

.playerControl .left .thumb {
    min-width: 64px;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    overflow: hidden;
    background-size: 64px 64px;
    margin-right: 10px;
}

.playerControl .left .content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.playerControl .left .content > .title {
    color: var(--player-text);
    font-size: 14px;
    font-weight: 500;
}

.playerControl .left .content > .subtitle {
    color: var(--text-secondary);
    font-size: 12px;
    font-weight: 400;
}

.playerControl .left .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.playerControl .left .options .btn {
    padding: 4px;
    margin: 0 2px;
    color: var(--player-text);
}

.playerControl .left .options .btn > i {
    font-size: 16px;
    padding: 5px;
}

.playerControl .left .options .btn.btn-heart > i {
    color: var(--purple-primary);
}

.playerControl .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.playerControl .center .control {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.playerControl .center .control > .btn {
    margin: 0 7px;
    padding: 3px;
    color: var(--player-text);
}

.playerControl .center .control > .btn:hover {
    background-color: var(--alpha-bg);
}

.playerControl .center .control > .btn.active {
    color: var(--link-text-hover);
}

.playerControl .center .control > .btn.btn-play {
    border: 1px solid var(--player-text);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.playerControl .center .control > .btn.btn-play:hover {
    color: var(--link-text-hover);
    border-color: var(--link-text-hover);
    background-color: transparent;
}

.playerControl .center .control > .btn > i {
    font-size: 24px;
    padding: 5px;
    border-radius: 50%;
}

.playerControl .center .control > .btn:first-child > i {
    font-size: 16px;
}

.playerControl .center .control > .btn:last-child > i {
    font-size: 18px;
}

.playerControl .center .timeline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.playerControl .center .timeline > .time {
    font-size: 12px;
    font-weight: 500;
    color: var(--player-text);
    min-width: 45px;
}

.playerControl .center .timeline > .time.time-left {
    opacity: 0.5;
    text-align: right;
    margin-right: 10px;
}

.playerControl .center .timeline > .time.time-right {
    text-align: left;
    margin-left: 10px;
}

.playerControl .center .timeline .slider-bar {
    width: 100%;
}

.playerControl .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

.playerControl .right .btn {
    padding: 3px;
    margin: 0 2px;
    color: var(--player-text);
}

.playerControl .right .btn > i {
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
}

.playerControl .right .btn:hover {
    background-color: var(--alpha-bg);
}

.playerControl .right .volume {
    display: flex;
    align-items: center;
}

.playerControl .right .volume .slider-bar {
    width: 70px;
}

.playerControl .right .vertical-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerControl .right .vertical-bar > .divide {
    height: 33px;
    width: 1px;
    background: var(--border-player);
    margin: 0 20px;
}

.playerControl .right .btn.btn-list {
    background: var(--alpha-bg);
    border-radius: 4px;
    height: 30px;
}

.playerControl .right .btn.btn-list > i {
    font-size: 16px;
}

/* =============================== THEME MODAL ======================== */
.theme-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-modal);
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.theme-modal.active {
    display: flex;
}

.theme-modal .container {
    background: var(--primary-bg);
    border-radius: 8px;
    width: 70vw;
    max-width: 900px;
    padding-bottom: 20px;
}

.theme-modal .container .theme-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    margin-bottom: 12px;
}

.theme-modal .container .theme-header h1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-primary);
    line-height: 1.5;
    margin: 0;
    text-transform: capitalize;
}

.theme-modal .container .theme-header button {
    font-size: 24px;
    color: var(--text-primary);
}

.theme-modal .container .themes {
    min-height: 500px;
    max-height: 50vh;
    padding: 0 30px;
    overflow-y: auto;
}

.theme-modal .container .themes::-webkit-scrollbar {
    width: 0.25rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
    z-index: var(--z-fixed);
}

.theme-modal .container .themes::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

.theme-modal .container .themes::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

.theme-modal .container .theme__title {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-primary);
    text-transform: capitalize;
    margin-bottom: 10px;
}

.theme-modal .container .theme-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: 20px;
}

.theme-modal .container .theme {
    width: 16.6667%;
    padding: 0 7px;
    margin-bottom: 20px;
}

.theme-modal .container .card {
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
}

.theme-modal .container .theme.active .card {
    border: 1px solid var(--purple-primary);
}

.theme-modal .container .card:hover {
    cursor: pointer;
}

.theme-modal .container .card .card-image {
    width: 100%;
    overflow: hidden;
}

.theme-modal .container .card .card-image img {
    vertical-align: middle;
    width: 100%;
    transition: 0.8s ease;
}

.theme-modal .container .card:hover .card-image img {
    transform: scale(1.1);
}

.theme-modal .container .theme .theme-check {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;
    color: var(--purple-primary);
}

.theme-modal .container .theme.active .theme-check {
    display: block;
}

.theme-modal .container .card:hover .card-fade {
    visibility: visible;
}

.theme-modal .container .card:hover .card-action {
    visibility: visible;
}

.theme-modal .container .card .card-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
    padding: 5px 0;
    visibility: hidden;
}

.theme-modal .container .card .card-action button {
    display: block;
    margin-bottom: 4px;
    width: 100px;
    font-size: 8px;
    color: #fff;
    font-weight: 500;
    padding: 5px 0;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: hsla(0, 0%, 100%, 0.5);
    cursor: pointer;
    transition: 0.2s linear;
}

.theme-modal .container .card .card-action button.apply {
    background-color: #ed2b91;
    border: 1px solid #ed2b91;
}

.theme-modal .container .card .card-action button.apply:hover {
    opacity: 0.7;
}

.theme-modal .container .theme .content {
    padding: 5px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--text-primary);
    text-transform: capitalize;
}

/* =============================== NEW LIST MODAL ======================== */
.newList__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-modal);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.newList__modal.active {
    opacity: 1;
    visibility: visible;
}

.newList__modal > .content {
    position: relative;
    background-color: var(--primary-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
}

.newList__modal > .content > .title {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-primary);
    margin-bottom: 10px;
}

.newList__modal > .content > .btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--text-primary);
}

.newList__modal > .content > .btn > i {
    font-size: 24px;
}

.newList__modal > .content > form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.newList__modal > .content > form > input {
    background-color: var(--alpha-bg);
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 999px;
    color: var(--search-text);
    font-size: 14px;
    width: 100%;
    height: 40px;
}

.newList__modal > .content > form > input::placeholder {
    color: var(--text-placeholder);
}

.newList__modal > .content > form > .option {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 16px;
    justify-content: space-between;
    padding: 20px 15px 0;
}

.newList__modal > .content > form > .option .title {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 400;
    color: var(--text-primary);
}

.newList__modal > .content > form > .option .subtitle {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-secondary);
}

.newList__modal > .content > form > .option .switch {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 16px;
}

.newList__modal > .content > form > .option .switch > input {
    opacity: 0;
    width: 0;
    height: 0;
}

.newList__modal > .content > form > .option .switch > span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a0a0a0;
    border-radius: 34px;
    transition: 0.4s ease;
}

.newList__modal > .content > form > .option .switch > span::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

.newList__modal > .content > form > .option .switch > input:checked + span {
    background-color: var(--purple-primary);
}

.newList__modal > .content > form > .option .switch > input:checked + span::before {
    transform: translateX(8px);
}

.newList__modal > .content > form > .btn {
    margin-top: 20px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--purple-primary);
    border-color: var(--purple-primary);
    color: var(--white);
    padding: 8px 0;
}
