/* =============================== GOOGLE FONT ======================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

/* =============================== VARIABLE CSS ======================== */
:root {
    /* == COLOR == */
    --primary-bg: #432275;
    --layout-bg: #170f23;
    --second-bg: #3D3540;
    --second-bg-hover: #332d35;
    --chart-bg-img-alpha: rgba(32,19,53,0.9);
    --text-color: #dadada;
    --text-color-hover: #dbdbdc;

    /* == FONT AND TYPOGRAPHY == */
    --body-font: 'Inter', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* == MARGIN BOTTOM == */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* == Z-INDEX == */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}

/* =============================== BASE ======================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: var(--layout-bg);
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.section {
    padding: 2rem 0;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
/* =============================== NAVBAR ======================== */
.header{
    top: 0;
    z-index: var(--z-fixed);
    max-height: 4rem;
}

.nav {
    height: 4rem;
    margin-left: 15rem;
    justify-content: space-between;
}

.nav__arrow {
    margin-right: var(--mb-1-5);
    display: flex;
    align-items: center;
}

.nav__arrow-btn {
    margin-left: var(--mb-1-5);
}

.icon__arrow,
.icon__search {
    color: var(--text-color);
    font-size: var(--h2-font-size);
    font-weight: 400;
}

.nav__form-container {
    position: relative;
}

.nav__form-input {
    border: none;
    border-radius: 1.5rem;
    height: 2.5rem;
    background-color: var(--second-bg);
    color: var(--text-color);
    padding-left: var(--mb-2-5);
    width: 35rem;
}

.nav__form-input:focus {
    outline: none;
}

.submit__button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.nav__right {
    margin-left: 2rem;
}

.nav__right--item {
    margin-left: 1rem;
}

.nav__btn {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bg);
    border-radius: 50%;
    transition: .35s ease;
}

.nav__btn:hover,
.btn__active {
    background-color: var(--second-bg-hover);
}

.nav__icon {
    color:var(--text-color);
    font-size: 1.25rem;
    font-weight: 350;
}

.nav__user-img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.nav__dropdown {
    position: relative;
    display: inline-block;
}

.nav__dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    width: 16rem;
    margin-top: 0.5rem;
    background-color: var(--primary-bg);
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: var(--z-tooltip);
    border-radius: 0.5rem;
}

.nav__dropdown-container {
    padding: 0.5rem 1rem .75rem 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: .25rem;
}

.show-nav__dropdown {
    display: block;
}

.main-dropdown {
    border-bottom: 1px solid #a692ad;
    width: 100%;
    margin-bottom: var(--mb-0-5);
}

.footer-dropdown {
    width: 100%;
}

.nav__link {
    position: relative;
    color: var(--text-color);
    font-size: var(--normal-font-size);
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: var(--mb-0-25);
    padding-left: var(--mb-0-25);
}

.main-dropdown .nav__link span {
    margin-left: var(--mb-1-5);
}

.nav__link:hover {
    color: var(--text-color-hover);
    background-color: #563983;
    border-radius: 0.5rem;
}

.nav__icon-start {
    position: absolute;
    left: var(--mb-0-25);
}

.nav__icon-end {
    position: absolute;
    right: 0;
}